<!DOCTYPE html>
<html ng-app="StoreFront">
<head>
  <title>AngularProducts</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application", 'main' %>
</head>
<body>

<%= yield %>

</body>
</html>
